<div id="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="copyright">
					<div class="row">

						<div class="col-md-6">
							<p>
								© @DateTime.Now.Year Tüm Hakları Saklıdır</a>
							</p>
						</div>

						<div class="col-md-6">
							@await Component.InvokeAsync("_SocialMediaComponent")
							</div>
						</div>

					</div>
				</div><!--grid-->

			</div><!--footer-bottom-content-->
		</div>
	</div>
</div>