<div class="right-element">
	<a href="#" class="user-account for-buy">
		<i class="icon icon-user"></i><span>Hesap</span>
	</a>
	<a href="#" class="cart for-buy">
		<i class="icon icon-clipboard"></i>
		<span>
			Bakiye:(0 $)
		</span>
	</a>

	<div class="action-menu">

		<div class="search-bar">
			<a href="#" class="search-button search-toggle" data-selector="#header-wrap">
				<i class="icon icon-search"></i>
			</a>
			<form role="search" method="get" class="search-box">
				<input class="search-field text search-input" placeholder="Aranacak Kelime..."
					   type="search">
			</form>
		</div>
	</div>

</div>