@model MyApiBook.WebUI.Dtos.UpdateArticleDto

@{
    ViewData["Title"] = "UpdateArticle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="card-header border-0">
    <h3 class="mb-0">Makale Güncelleme Paneli</h3>
</div>


<form method="post">
    <div class="container">
        <input type="hidden" asp-for="ArticleID" />
        <br />
        <label>Yazar </label>
        <input type="text" asp-for="AuthorID" class="form-control" />
        <br />
        <label>Tarih </label>
        <input type="text" asp-for="CreatedDate" class="form-control" />
        <br />
        <label>Açıklama</label>
        <input type="text" asp-for="Description" class="form-control" />
        <br />

        <button class="btn btn-outline-primary" style="margin:10px">Makale Güncelle</button>
    </div>
</form>


